*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.firstImg{
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.4)url(../assets/asset\ 0.jpeg);;
    /* background-color: yellowgreen; */
    background-blend-mode: darken;
    position: relative,sticky;
}
.firstImg .nav{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2;
    /* background-color: rgb(5, 5, 5); */
    display: flex;
}
.firstImg .nav .logo{
    width: 160px;
    height: auto;
    /* background-color: rgb(255, 20, 20); */
    margin-left: 12%;
}
.firstImg .nav .logo img{
    margin-top: 9px;
    width: 180px;
    height: auto;
}

.nav2{
    position: relative;
    width: 700px;
    height: 80px;
    margin-left: 20%;
    /* background-color: rgb(230, 226, 226); */
}
.nav2 ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nav2 ul li{
    color: aliceblue;
    position: relative;
    list-style: none;
    font-size: larger;
    margin-top: 26px;
    text-decoration: none;
}
.nav2 ul li:after{
    content: "";
    position: absolute;
    background-color: yellow;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.nav2 ul li:hover{
    cursor: pointer;
}
.nav2 ul li:hover:after{
width: 100%;
}

